body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* header section */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

header h1, header div {
    width: 30%;
}

header nav a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: rgb(59, 59, 59);
}

header nav a:hover {
    color: red;
}

input {
    padding: 0.5rem;
    padding-right: 1.5rem;

}

.search-icon {
    margin-left: -2.3rem;
}

.notification-icon {
    font-size: 1.6rem;
}

.user-avatar {
    width: 2.5rem;
    border-radius: 100%;
}


.access-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}

h1 {
    color: red;
}

/* main section */

main {
    margin: 1rem;
    border: 1px solid black;
    padding: 2rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main h2{
    font-size: 2rem;
}
main span{
    font-size: 0.75rem;
}

.moviepegi16{
    border: 1px solid black;
    border-radius: 15%;
    padding: 0 0.19rem;
    margin: 0 1rem 0 0;

}
.movieimdbrate{
    font-weight: bold;
    
}
.movieimdb{
    color: rgb(64, 60, 60);
    margin: 0 1rem 0 0;
}
.movietime{
    font-weight: bold;
}
.description{
    width: 50%;
}
p{
    font-size: 0.8rem;
}
.sgtinfo span, .sgtinfo p{
    
    margin: 1vh 0;
    font-weight: bold;
    font-size: 0.8rem;

}
.text-red{
    color: red;
}
.btn{
    margin-top:2vh;
}